<!DOCTYPE HTML>
<html>
  <head>
    <title>Forms</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body>
    <center>
      <div class="body">
	<h1>Login Please:</h1>
	<h3>{{message}}</h3>
	<form action="/authenticate/" method="POST">
	  <h4>Username:</h4><br><input class="textbox" type="text" size="20" value="" name="user"><br>
	  <h4>Password:</h4><br><input class="textbox" type="password" size="20" name="pass"><br>
	  <input class="button" type="submit" size="10" value="Login" name="Choice">
	  <input class="button" type="submit" size="10" value="Register" name="Choice">
	</form>
      </div>
    </center>
  </body>
  
</html>
